/*.bin
/*.mode
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/es-pt.dix
/es-pt.t1x
/es-pt_BR.dix
/es-pt_BR.t1x
/install-sh
/missing
/modes
/post-pt.dix
/post-pt_BR.dix
/pt-es.t1x
/pt.dix
/pt_BR.dix
/stamp-h1
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/ap_include.am
/*-*.prob
/test/*-output.txt
